{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Facture Management {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bulma/css/bulma.css' %}">
</head>
<body class="">
    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="">
                    
                </a>
            </div>
            <div class="navbar-menu">
                <a href="{% url 'facture-list' %}" class="navbar-item"> Factures </a>
            </div>
        </nav>

        <h1 class="title is-size-1 title has-text-centered">Facture Management System</h1>
    </header>
        <br> <br>
    <main>
        {% block content %}
        
        {% endblock %}
    </main>

        <br> <br>

    <footer>
        <p>&copy; 2023 Facture Management</p>
    </footer>
</body>
</html>
