{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Facture Management {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bulma/css/bulma.css' %}">
</head>
<body class="">
    <header>
        <h1 class="title">Facture Management System</h1>
    </header>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <ul>
            <li><a href="{% url 'facture-list' %}">Factures</a></li>
        </ul>
    </nav>
    <main>
        {% block content %}
        
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2023 Facture Management</p>
    </footer>
</body>
</html>
