{% extends "base.html" %}

{% block content %}
<br> <br>

    <br>
<form method="post" class="box m-auto is-flex is-flex-wrap-wrap is-flex-direction-column is-justify-content-center is-align-items-baseline" style="width:fit-content;">
    <h2 class="title is-size-2 has-text-centered">{% if form.instance.pk %} Edit {% else %} Create {% endif %} Facture </h2>
    {% csrf_token %}
    {{ form.as_p }}
        <br>
    <div class="m-auto" style="width:fit-content;">
        <button type="submit" class="button is-primary is-small"> Save </button>
    </div>
</form>
    <br> <br>
<div class="ml-1" style="width:fit-content">
    <a href="{% url 'facture-list' %}" class="button is-outlined is-link is-small"> Back to list </a>
</div>

{% endblock %}
