{% extends "base.html" %}

{% block content %}

<article class="message is-warning m-auto">
    <div class="message-header">
        <p> Confirm Delete </p>
    </div>
    <div class="message-body">
        <p> Are you sure you want to delete "{{ object }}" ?</p>

        <form method="post">
            {% csrf_token %}
            <div>
                <button type="submit" class="button is-danger is-small"> Confirm </button>
            </div>
        </form>

    </div>
</article>




<a href="{% url 'facture-list' %}">Cancel</a>
{% endblock %}
